* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
    text-align: center;
    font-size: 16px
  }

  body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(33, 58, 33);
    display: flex;
    justify-content: center;
  }

  section {
    background-color: aquamarine;
  }

  section.welcome{
    background-color: peachpuff;
    padding: 1em
  }

  .dropGrid {
    height: 100%;
    /* Update to 0.5 when holdingGrid is hidden */
    aspect-ratio: 10 / 24;
    background-color: darkgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .dropCell {
    margin: 0;
    aspect-ratio: 1;
  }

  .sidebar {
    background-color: bisque;
    height: 100%;
    width: 50%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar * {
    margin: 0.5em 1em;
    
  }

  .sidebar p {
    background-color: cadetblue;
    margin: 1em 2em;
    padding: 0.5em;
    min-height: 3em;
    text-align: center;
  }

  button.start {
    width: 33%;
    padding: 1em;
    font-weight: bold;
    margin: 1em 0 0 0
  }

  h1 {
    font-size: 3em
  }

  h2 {
    font-size: 1.5em
  }

  div {
    border: solid;
    border-width: 1px;
    border-color: darkgray
  }

  .logo {
    width: 75%;
    align-self: center;
  }

  .previewGrid {
    background-color: black;
    margin: 2em;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap
  }


  .holdingGrid {
    /* Make the top 4 * width cells hidden with hidden attribute */
    background-color: peachpuff;
    /* display: none */
  }

  .landed {
    color: red
  }

  /* Assignable classes for pieces: */
  .Piece {

  }

  .preview{

  }

  .holdingGrid {

  }

  .piece.typeStraight{
    background-color: aqua;
  }
  
  .piece.typeReverseL{
    background-color: blue;
  }
  .piece.typeL{
    background-color: orange;
  }
  .piece.typeSquare{
    background-color: yellow;
  }
  .piece.typeZ{
    background-color: greenyellow;
  }
  .piece.typeT{
    background-color: purple;
  }
  .piece.typeReverseZ{
    background-color: red;
  }


