* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
  }

  body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(33, 58, 33);
    display: flex;
    justify-content: center;
  }

  section {
    background-color: rgb(157, 157, 157);
  }

  section.welcome{
    background-color: #a5a5a5a4;
    padding: 1em
  }

  .dropGrid {
    height: 100%;
    aspect-ratio: 0.5;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .dropCell {
    margin: 0;
    aspect-ratio: 1;
    color: rgb(70, 70, 70, 0)
  }

  .sidebar {
    background-color: darkgray;
    height: 100%;
    width: 50%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar * {
    margin: 0.5em 1em;
    
  }

  .sidebar p {
    background-color: cadetblue;
    margin: 1em 2em;
    padding: 0.5em;
    min-height: 3em;
    text-align: center;
  }

  button.start {
    width: 33%;
    padding: 1em;
    font-weight: bold;
    margin: 1em 0 0 0
  }

  h1 {
    font-size: 3em
  }

  h2 {
    font-size: 1.5em
  }

  div {
    border: solid;
    border-width: 1px;
    border-color: rgb(43, 43, 43)
  }

  .logo {
    width: 50%;
    align-self: center;
  }

  .previewGrid {
    background-color: black;
    margin: 2em;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    color: rgba(0,0,0,0)
  }

  .holdingGrid {
    /* Make the top 4 * width cells hidden with hidden attribute */
    /* background-color: peachpuff; */
    display: none
  }

  /* Assignable classes for pieces: */

  .piece.typeStraight{
    background-color: aqua;
  }
  
  .piece.typeReverseL{
    background-color: blue;
  }
  .piece.typeL{
    background-color: orange;
  }
  .piece.typeSquare{
    background-color: yellow;
  }
  .piece.typeZ{
    background-color: greenyellow;
  }
  .piece.typeT{
    background-color: purple;
  }
  .piece.typeReverseZ{
    background-color: red;
  }


